#python -c "import BeautifulSoup; print BeautifulSoup.__version__"
beautifulsoup4
bs4

#python -c "import pycurl; print pycurl.version"
pycurl

#python -c "import xmltodict; print xmltodict.__version__"
xmltodict
